<div class="info-container" style="margin-top:0; border:0">
  <%= render 'aditional_data/steps_progress' %>
  <div class="line-separation"></div>
  <div class="form-container">
    <%= render 'aditional_data/choose_sports' %>
  </div>
</div>
