<div class="main-container">
  <nav class="left-sidebar">
    <%= render 'pages/left-sidebar/dashboard' %>      
  </nav>
  <div class="main">
    <%= render 'pages/main/dashboard' %>
  </div>
</div>
