<div class="main-container">
  <nav class="left-sidebar">
    <%= render 'pages/left-sidebar/edit_profile' %>      
  </nav>
  <div class="main">
    <%= render 'pages/main/edit_profile' %>
  </div>
</div>
<script>
  $('.step3, .step2').children().attr('style', "cursor:pointer")
</script>