<div class="landing-center">
  <div class="landing-text">
    <h1 class="hidden">Las personas pueden</h1>
    <ul class="fly-in-text trigger">
      <li>J</li>
      <li>U</li>
      <li>N</li>
      <li>T</li>
      <li>A</li>
      <li>R</li>
      <li>S</li>
      <li>E</li>
    </ul>    
    <h2 class="hidden">y hacer lo que quieran <div class="saving hidden"><span>.</span><span>.</span><span>.</span></div></h1>  
  </div>
</div>
<div class="circle-sports">  
    <a class="circle-link" href="<%= new_user_session_path %>">
        <div class="circle-loader">
            <div class="checkmark draw"></div>
        </div>
        <img class="sports-img" src="<%= asset_path 'siluetas-deportes.jpg' %>" alt="">
    </a>
</div>
<script type="text/javascript">
  $(function() {      
    setTimeout(function() {
        $('.fly-in-text').removeClass('trigger');
    }, 500);
    setTimeout(function() {
      $('.landing-center').find('h1').removeClass('hidden');
    }, 3000);
    setTimeout(function() {
      $('.landing-center').find('h2').removeClass('hidden');
    }, 4500);
    setTimeout(function() {
      $('.landing-center').find('.saving').removeClass('hidden');
    }, 5400);
    setTimeout(function() {
      $('.circle-loader').fadeIn("slow");
      $('.sports-img').fadeIn("slow");
    }, 7300);
  });
</script>